@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-Bold.eot');
  src: url('/fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/JosefinSans-Bold.woff2') format('woff2'),
      url('/fonts/JosefinSans-Bold.woff') format('woff'),
      url('/fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-Regular.eot');
  src: url('/fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/JosefinSans-Regular.woff2') format('woff2'),
      url('/fonts/JosefinSans-Regular.woff') format('woff'),
      url('/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  /* Media queries */
  --mobile: 600px;
  --desktop: 1440px;

  /* Primary Colours */
  --blue-bright: hsl(220, 98%, 61%);
  --check-background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Neutral - light theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-two: hsl(237, 14%, 26%);
}

/*** General styles ***/
body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 600px){
  .container{
    width: 100%;
  }
}
@media (min-width: 601px){
  .container{
    width: 768px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}
p{
  color: var(--dark-grayish-blue);
}

/** Inputs styles **/
/* Input wrapper */
.form-wrapper{
  display: flex;
  align-items: center;
  gap: 15px;
  
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 7px;
  padding: 10px 20px;
  min-height: 65px;
}
/* Input checkbox */
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  height: 42px; width: 42px;
  clip-path: circle(38%);
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  background-color: var(--very-dark-desaturated-blue);
  border: none;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
input[type="checkbox"]:checked:before {
  background: var(--check-background);
  border-radius: 4px;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  background: url('../public/images/icon-check.svg') center/cover no-repeat;
  height: 12px; width: 16px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
/* Input text */
input[type="text"]{
  background-color: var(--very-dark-desaturated-blue);
  border: none;
  color: var(--light-grayish-blue-hover);
  line-height: 15px;
  padding: 10px 5px;
  width: 100%;
}
input[type="text"]:active,
input[type="text"]:focus{
  outline: none;  
}
/* Label styles */
label{
  color: var(--dark-grayish-blue);
  height: 15px;
}

/** Button styles **/
/* Button add-task */
button.add-task{
  position: relative;

  background-color: var(--very-dark-desaturated-blue);
  border: 2px solid var(--very-dark-grayish-blue);
  border-radius: 50%;

  transition: all 0.3s ease;
  cursor: pointer;
  
  height: 28px; width: 30px;
}
button.add-task::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 29px; width: 30px;
  top: -3px; left: -2px;
  padding: 2px;
  z-index: 0;

  background: var(--check-background); /* Gradient colors */
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: opacity 0.3s ease;
  opacity: 0;
}
button.add-task:hover::before {
  opacity: 1;
}
/* Button form-button */
button.form-button{
background-color: var(--very-dark-desaturated-blue);
border: unset;
color: var(--dark-grayish-blue);
cursor: pointer;
transition: all .3s ease;
}
button.form-button:hover{
  color: var(--light-grayish-blue-hover) ;
}
button.form-button.active,
button.form-button.active:hover{
  color: var(--blue-bright);
}